# ---------------------------TRABALHO FINAL DE MMD ---------------------------
##                                                 Análise de Dados do Zapimóvel 
##                              - Preços de Apartamentos na Zona Sul do Rio de Janeiro -
###                                              Antônio Luís Sombra de Medeiros

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as ss
import pylab as pl
import pandas as pd
import os
from IPython.core.display import HTML

import matplotlib.mlab as mlab
import plotly
import plotly.plotly as py
import plotly.figure_factory as ff
from plotly.graph_objs import *
#from plotly.graph_objs import Scatter, Figure, Layout
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
init_notebook_mode(connected=True)

from IPython.display import Image
%matplotlib inline

pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 5000)
pd.set_option('display.width', 10000)

height has been deprecated.

In [4]:
x = pd.read_excel("zap_resultado1400_2017-05-29.xlsx")

# Os Dados

##### Dados do dia 29/05/2017 obtidos através de um Scrapper em R ( Código no arquivo "crawler_zapmoveis.R") do site www.zapimóveis.com.br, na categoria Venda - Zona Sul ---> Foram obtidos 35000 anúncios, distribuídos em 1400 páginas com 25 anúncios em cada.

#### Segue abaixo um extrato da tabela obtida

In [3]:
x.head(5)

                                                link         preco      bairro                                           endereco        quartos         area        suites        vagas                                          descricao
1  https://www.zapimoveis.com.br/lancamento/apart...  Sob consulta    Botafogo                  Rua Real Grandeza •\r\n       ...  2 a 3 quartos    66 a 97m2       1 suíte  1 a 2 vagas  Apartamento na Planta\r\n                Sofis...
2  https://www.zapimoveis.com.br/lancamento/apart...  R$ 1.380.000    Botafogo                  Rua Sorocaba •\r\n            ...  2 a 3 quartos   93 a 110m2       1 suíte  1 a 2 vagas  Apartamento Pronto Para Morar\r\n             ...
3  https://www.zapimoveis.com.br/lancamento/apart...  R$ 1.380.000    Botafogo                  Rua Pinheiro Guimarães •\r\n  ...  2 a 4 quartos  105 a 131m2  1 a 2 suítes  1 a 3 vagas  Apartamento Pronto Para Morar\r\n             ...
4  https://www.zapimoveis.com.br/superdestaque/ve...  R$ 1.350.000  Copacabana                  Rua Marechal Mascarenhas de Mo...      2 quartos         85m2       1 suíte      2 vagas  Apartamento\r\n                Prédio excelent...
5  https://www.zapimoveis.com.br/superdestaque/ve...  R$ 3.500.000      Leblon                  Rua General Venâncio Flores •\...      3 quartos        125m2       1 suíte       1 vaga  Apartamento\r\n                Alto padrão, to...

In [5]:
# Vamos confirmar a quantidade de anúncios obtida, vendo o número valores diferentes de null em cada coluna
df = x.copy()
("Numero de apts que possuem valores não nulos pra cada coluna")
df.count()

link         35000
preco        35000
bairro       35000
endereco     35000
quartos      33600
area         35000
suites       14788
vagas        15368
descricao    35000
dtype: int64

# Limpeza dos Dados

In [6]:
#Substituo os NaN nas suites e vagas por "0"

df.suites = df.suites.fillna("0")
df.vagas = df.vagas.fillna("0")

#Tiro os apts que não tem quartos (podem ser apenas vagas sendo vendidas, em vez de apartamentos inteiros)

df = df.dropna(subset=["quartos"]) 

#Eliminar o "m2" do final do valor das areas

df['area'] = df['area'].map(lambda x: x.replace("m2",""))

#Eliminar o "vagas" ao final das vagas


df.vagas = df.vagas.str.rstrip("vagas")

# Tiro as entradas que tem preço "Sob consulta"

df = df[df.preco.str.contains("Sob consulta") == False]

# Tirar "R$" da frente do valor do preço e os pontos e transformar coluna para inteiro

df['preco'] = df['preco'].replace('[\R$]','',regex=True)
df['preco'] = df['preco'].replace('[\.]','',regex=True).astype(float)

#Vamos contar o número de apartamento por número de quartos para termos uma idéia do dataset
df.quartos.value_counts()

1 quarto         12840
2 quartos         9598
3 quartos         6828
4 quartos          707
2 a 3 quartos      600
2 a 4 quartos      589
5 quartos           28
Name: quartos, dtype: int64

In [7]:
#Tomar apenas o primeiro valor dos quartos, já que sempre o anunciado para mais de um apt é "A partir de X reais"
#Supõe-se que o preço do imóvel divulgado é para o valor mínimo de quartos anunciado. O mesmo pra suítes, vagas e área.

df["quartos"] = df["quartos"].map((lambda x: x[0])).astype(int)
df["suites"] = df["suites"].map((lambda x: x[0])).astype(int)
df["vagas"] = df["vagas"].map((lambda x: x[0])).astype(int)
df["area"] = df["area"].map((lambda x: x.split(' ', 1)[0])).astype(int)

# Tomar endereco apenas como o nome da rua
df["endereco"] = df["endereco"].map(lambda x: x.split('•', 1)[0].rstrip().lstrip()) # split() only once

#Defino uma nova coluna chamada "preço_m2", que será o preço/metro quadrado
df["preco_m2"] = df.preco/df.area

#O novo número de apartamentos por número de quartos será:
df.quartos.value_counts()

1    12840
2    10787
3     6828
4      707
5       28
Name: quartos, dtype: int64

In [8]:
df = df.reset_index()
df.to_excel("zap_resultado_limpo.xlsx")

In [3]:
data = pd.read_excel("zap_resultado_limpo.xlsx")

# Análise Geral

- Quais as principais diferenças entre os apartamentos de cada bairro da Zona Sul do Rio de Janeiro?
- Quais os bairros com os aluguéis mais caros?
- Quantos quartos os apartamentos têm em média?
- A oferta de apartamentos de um bairro influencia o preço médio do aluguel?

Vamos buscar responder essas e outras perguntas

## Valor de venda

Quais os bairros com maiores e menores valores de aluguel?
Qual o bairro com melhor média Preço/m2?

In [14]:
# Estatísticas do Preço
data["preco"].describe()

count       31,190.00
mean     1,407,323.44
std      1,668,828.58
min        360,000.00
25%        600,000.00
50%        710,000.00
75%      1,360,000.00
max     14,000,000.00
Name: preco, dtype: float64

In [16]:
data.head(5)

   index                                               link    preco      bairro                            endereco  quartos  area  suites  vagas                                          descricao  preco_m2
0      2  https://www.zapimoveis.com.br/lancamento/apart...  1380000    Botafogo                        Rua Sorocaba        2    93       1      1  Apartamento Pronto Para Morar\r\n             ... 14,838.71
1      3  https://www.zapimoveis.com.br/lancamento/apart...  1380000    Botafogo              Rua Pinheiro Guimarães        2   105       1      1  Apartamento Pronto Para Morar\r\n             ... 13,142.86
2      4  https://www.zapimoveis.com.br/superdestaque/ve...  1350000  Copacabana  Rua Marechal Mascarenhas de Morais        2    85       1      2  Apartamento\r\n                Prédio excelent... 15,882.35
3      5  https://www.zapimoveis.com.br/superdestaque/ve...  3500000      Leblon         Rua General Venâncio Flores        3   125       1      1  Apartamento\r\n                Alto padrão, to... 28,000.00
4      6  https://www.zapimoveis.com.br/superdestaque/ve...  2900000      Leblon                        Rua Sambaíba        2   206       0      2  Apartamento\r\n                Apartamento tri... 14,077.67

## Quantidade de ofertas x Preço

In [17]:
data.preco.iplot(xTitle='Preço em Reais (escala por 300.000.000 R$) ',\
                 yTitle='Quantidade de apartamentos', kind='histogram', color = "#e5450f")

Observa-se que há grandes outliers, que são apartamentos com ofertas acima de 8 Milhões de reais. Se tirarmos esses pouco número de ofertas outliers, teremos um novo gráfico, mais fácil de visualizar:

In [18]:
data.preco[data.preco < 7560000].iplot(xTitle='Preço em Reais (escala por 300.000.000 R$) ',\
                                       yTitle='Quantidade de apartamentos', kind='histogram', color = "#e5450f")

## Quantidade de ofertas por No de quarto/suítes/vagas

In [20]:
df = data[['quartos',
       'suites', 'vagas']]
df.iplot(xTitle='Quantidade de quartos/suítes/vagas', yTitle='Quantidade de apartamentos', kind='histogram')

## Área do apartamento

In [22]:
df = data[['area']]
df.iplot(xTitle='Área do apartamento (m2)', yTitle='Quantidade de apartamentos', kind='histogram', color = "#e5dc0f")

#### Há pontos com áreas muito grandes que distorcem o gráfico, como os 11 apartamentos com mais de 477m2. Assim vamos verificar o maior valor de área ao qual 99% dos apartamentos estejam limitados.
#### Para isso utilizaremos a função centile, que nos retornará o que queremos.
#### Logo em seguida plotaremos o mesmo gráfico mas para valores até esse limite.

In [23]:
def centile(arr, percentiles=[50]):
  result = {}

  s = np.sort(arr)
  n = len(s)

  for percent in percentiles: 
    R = float(n + 1) * percent / 100
    r, f = int(R), R - int(R)

    result['{0}%'.format(percent)] = float(s[r - 1]) + f * (s[r] - s[r - 1])

  return result

In [24]:
centile(data.area, percentiles=[99] )

{'99%': 227.0}

In [27]:
df = data[['area']][data['area']<227]
df.iplot(xTitle='Área do apartamento (m2)', yTitle='Quantidade de apartamentos', kind='histogram', color="#e5dc0f")

## Análise do preço/m2 a medida que a área do apt aumenta

In [28]:
preco_m2 = [Bar(x=data.area,
            y=data.preco_m2)]

py.iplot(preco_m2)

#### Verifica-se que o preço/m2 tem uma leve tendência a aumentar a medida que a área total do apartamento aumenta, mas a variância é bem grande. Provavelmente porque há muitos fatores que podem influenciar o preço além da área total (como número de vagas etc, que podem variar significativamente o preço do apartamento)

## QUARTOS

### Quantos quartos têm em média os apartamentos?
### Vamos plotar a distribuição dos apartamentos por quarto

In [29]:
quartos_stats = data.groupby('quartos')[['preco','area','suites','vagas', 'preco_m2']]

quartos = data.groupby("quartos").size()

total_quartos = quartos.sum()
percentual_quartos = quartos/total_quartos

quartos_stats.describe()

            preco                                                                                                  area                                                    suites                                        vagas                                     preco_m2
            count         mean          std          min          25%          50%          75%           max     count   mean   std    min    25%    50%    75%    max     count mean  std  min  25%  50%  75%  max     count mean  std  min  25%  50%  75%  max     count      mean      std       min       25%       50%       75%       max
quartos
1       12,840.00   692,896.11   244,253.99   360,000.00   600,000.00   680,000.00   710,000.00  1,500,000.00 12,840.00  51.68  9.61  30.00  45.00  50.00  60.00 100.00 12,840.00 0.33 0.47 0.00 0.00 0.00 1.00 1.00 12,840.00 0.12 0.32 0.00 0.00 0.00 0.00 1.00 12,840.00 13,218.65 2,970.54  7,307.69 10,888.89 12,950.82 14,166.67 18,970.59
2       10,787.00   970,336.70   624,299.44   400,000.00   450,000.00   690,000.00 1,380,000.00  4,600,000.00 10,787.00  84.65 26.85  54.00  60.00  80.00  93.00 206.00 10,787.00 0.43 0.72 0.00 0.00 0.00 1.00 2.00 10,787.00 0.71 0.70 0.00 0.00 1.00 1.00 3.00 10,787.00 10,603.66 3,613.04  6,666.67  7,500.00  8,625.00 13,142.86 40,000.00
3        6,828.00 3,188,132.25 2,511,256.70   740,000.00 1,070,000.00 2,200,000.00 3,500,000.00 14,000,000.00  6,828.00 149.74 48.88  75.00 125.00 140.00 165.00 430.00  6,828.00 1.17 1.07 0.00 0.00 1.00 1.00 3.00  6,828.00 1.05 1.15 0.00 0.00 1.00 2.00 3.00  6,828.00 19,005.09 9,447.70  7,400.00  9,208.47 17,322.83 21,875.00 42,857.14
4          707.00 3,696,807.61 2,492,359.63 1,200,000.00 1,900,000.00 2,900,000.00 4,490,000.00 14,000,000.00    707.00 208.98 60.76 110.00 170.00 200.00 240.00 400.00    707.00 1.40 1.02 0.00 1.00 1.00 2.00 4.00    707.00 1.90 0.92 0.00 1.00 2.00 3.00 4.00    707.00 17,702.07 9,222.60  5,642.63  9,882.35 16,818.18 21,000.00 41,176.47
5           28.00 5,300,000.00 1,422,048.60 4,000,000.00 4,000,000.00 4,000,000.00 6,800,000.00  6,800,000.00     28.00 345.14 16.25 328.00 328.00 360.00 360.00 360.00     28.00 2.86 2.03 1.00 1.00 1.00 5.00 5.00     28.00 2.39 1.52 1.00 1.00 1.00 4.00 4.00     28.00 15,577.82 4,886.06 11,111.11 11,111.11 11,111.11 20,731.71 20,731.71

In [30]:
quartos.iplot(xTitle='Número de quartos do apartamento ',\
                 yTitle='Quantidade de apartamentos', kind= 'bar', color="#FFaC51")

/Users/Sombra/anaconda3/lib/python3.5/site-packages/cufflinks/plotlytools.py:156: FutureWarning:

pandas.tslib is deprecated and will be removed in a future version.
You can access Timestamp as pandas.Timestamp

### Percentual de apartamento por No de Quartos:

In [31]:
print("Percentual de apartamento por número de quartos: ", percentual_quartos)

Percentual de apartamento por número de quartos:  quartos
1   0.41
2   0.35
3   0.22
4   0.02
5   0.00
dtype: float64

#### Note que a maioria dos quartos dos apartamentos à venda na Zona Sul do Rio de Janeiro possuem 1 quarto (41.16%)

### Quantidade de apartamentos pelo preço e número de quartos
#### Preços ordenados do menor para o maior

In [32]:
data.groupby('quartos').preco.value_counts().sort_index()

quartos  preco
1        360000      1400
         365000        14
         377000        16
         400000        17
         430000        10
         440000        17
         450000        21
         475000        18
         490000      1400
         525000        15
         528000        13
         600000      1400
         630000      1400
         635000        15
         650000        26
         680000      1400
         685000        21
         700000      1400
         710000      1400
         790000      1400
         795000        17
         1290000     1400
         1500000       20
2        400000      1400
         450000      1400
         575000        10
         590000      1400
         649000        19
         650000        38
         660000        13
         680000        29
         690000      1427
         695000        18
         700000        12
         720000        24
         730000        11
         750000        20
         760000        10
         770000         9
         790000        31
         795000        10
         800000        15
         850000        16
         880000        16
         890000        30
         899000        25
         900000        35
         915000      1400
         930000        15
         950000        42
         970000        31
         980000        31
         995000        15
         999000        33
         1000000       41
         1050000       33
         1080000       14
         1090000       19
         1100000       23
         1149000       21
         1150000       40
         1160000       17
         1190000       14
         1230000       19
         1250000       18
         1280000       13
         1300000       17
         1350000       41
         1360000       11
         1380000     1206
         1450000       21
         1460000       14
         1500000       30
         1575000       13
         1590000       14
         1680000       16
         1790000       17
         1900000       11
         2100000       21
         2200000     1426
         2600000       12
         2900000       12
         2950000       13
         4400000       12
         4600000       23
3        740000         9
         800000        13
         840000        14
         850000        26
         865000        13
         870000        10
         890000        14
         900000        29
         950000        26
         959000        14
         970000        14
         990000        11
         998000        20
         1000000       17
         1020000       25
         1050000     1447
         1070000       15
         1075000       20
         1080000       13
         1100000       31
         1120000       12
         1150000      619
         1170000       16
         1180000       17
         1199999       22
         1200000       35
         1250000       16
         1250002       19
         1280000       19
         1300000       10
         1350000       50
         1360000       14
         1380000       12
         1390000       14
         1400000       45
         1450000       18
         1490000       68
         1499000       12
         1500000       36
         1550000       35
         1580000       15
         1595000       19
         1600000       28
         1650000       84
         1655000       15
         1680000       30
         1690000       14
         1700000       43
         1750000       47
         1780000       22
         1790000       18
         1830000       16
         1850000        9
         1900000       10
         1980000       37
         2000000       52
         2100000       18
         2150000       32
         2190000       22
         2200000       54
         2250000       36
         2350000       12
         2380000       20
         2430000       15
         2450000       18
         2490000       18
         2500000       39
         2550000       13
         2600000       15
         2700000       12
         2749000       11
         2800000       27
         2950000       14
         2999000       11
         3000000       57
         3200000       65
         3450000       16
         3500000     1439
         3800000       31
         3900000       10
         3950000       15
         4000000       15
         4500000       20
         7200000       12
         7500000     1400
         12000000      19
         14000000      13
4        1200000       20
         1450000       30
         1500000       30
         1600000       17
         1679999       20
         1750000       14
         1800000       12
         1850000       21
         1900000       17
         1990000       14
         2000000       15
         2200000        6
         2250000       16
         2300000       20
         2400000       18
         2500000       14
         2600000       28
         2800000       14
         2840000       14
         2900000       27
         3099000       17
         3150000       15
         3300000       15
         3500000       15
         3850000       12
         3900000       19
         4100000       36
         4200000       18
         4490000       36
         4500000       14
         5100000        7
         5500000       40
         6500000       19
         6900000       15
         7500000       35
         11900000      15
         14000000      12
5        4000000       15
         6800000       13
Name: preco, dtype: int64

## BAIRROS

#### Quantos Bairros diferentes temos em anúncios na Zona Sul do Rio de Janeiro? Quais? Quantos Logradouros?
#### Quais bairros possuem mais anúncios de apartamentos? Quais os que possuem preços mais altos de apartamentos à venda?

In [33]:
for cat in ['bairro','endereco']:
    print("Unique values for category '{0}': \b {1} ".format(cat, data[cat].unique()))
    print()

print("\nNúmero de bairros diferentes: ", len(data["bairro"].unique()))
print("\nNúmero de enderecos (ruas) diferentes: ", len(data["endereco"].unique()))

Unique values for category 'bairro':  ['Botafogo' 'Copacabana' 'Leblon' 'Gávea' 'Jardim Botânico' 'Glória'
 'Lagoa' 'Santa Teresa' 'Leme' 'Ipanema' 'Laranjeiras' 'Humaitá' 'Urca'
 'Flamengo' 'Catete']

Unique values for category 'endereco':  ['Rua Sorocaba' 'Rua Pinheiro Guimarães'
 'Rua Marechal Mascarenhas de Morais' 'Rua General Venâncio Flores'
 'Rua Sambaíba' 'Rua Siqueira Campos' 'Marques de São Vicente'
 'Rua Abreu Fialho' 'Avenida Ataulfo de Paiva'
 'Rua Ministro Viveiros de Castro' 'Rua Voluntários da Pátria'
 'Rua Benjamim Constant' 'R Santa Clara' 'Avenida Epitácio Pessoa'
 'Rua Décio Vilares' 'Rua Santa Clara' 'Avenida Princesa Isabel'
 'Rua Pinto Martins' 'Rua Prefeito João Felipe'
 'Avenida Nossa Senhora de Copacabana' 'Rua Gustavo Sampaio'
 'Rua Constante Ramos' 'Rua Redentor' 'Rua Assunção'
 'Rua Baronesa de Poconé' 'Rua Henrique de Novais' 'Avenida Delfim Moreira'
 'Rua da Matriz' 'Rua Alberto de Campos' 'Rua Almirante Saddock de Sá'
 'Avenida Atlântica' 'Rua Presidente Alfonso López'
 'Av Visconde de Albuquerque' 'Rua Oliveira Fausto' 'Avenida Vieira Souto'
 'Rua das Laranjeiras' 'Rua Pio Correia' 'Rua Sá Ferreira'
 'Avenida Borges de Medeiros' 'Rua João Líra' 'Rua Peri'
 'Rua Barata Ribeiro' 'Rua Leopoldo Miguez' 'Rua Macedo Sobrinho'
 'Rua Gilberto Cardoso' 'Rua Ramon Franco' 'R Nascimento Silva'
 'Rua do Humaitá' 'Rua Marquês de Abrantes' 'Rua Lópes Quintas'
 'Rua Soares Cabral' 'Rua Almirante Tamandaré' 'Rua Souza Lima'
 'Pr de Botafogo' 'Rua Paula Freitas' 'Rua Garcia Davila'
 'Avenida Rainha Elizabeth da Bélgica' 'Rua República do Peru'
 'Avenida Henrique Dodsworth' 'Rua Paissandu' 'Rua Almirante Guilhem'
 'Rua Nascimento Silva' 'Rua General Artigas' 'Rua Francisco Sá'
 'Rua Correa Dutra'
 'Salão Varanda 4 Quartos Vaga Escriturada Preço Final 1.450.000'
 'Rua Fernandes Guimarães' 'Rua São Clemente' 'Rua Humberto de Campos'
 'Rua Carvalho Azevedo' 'Rua Conde de Iraja' 'Rua Figueiredo Magalhães'
 'Avenida São Sebastião' 'Rua Senador Vergueiro' 'Rua Joaquim Nabuco'
 'Rua Timóteo da Costa' 'Rua Barão de Jaguaripe' 'Rua Prudente de Morais'
 'Rua Professor Manuel Ferreira' 'Rua Visconde de Pirajá'
 'Avenida Prado Júnior' 'Todo Reformado - Coração do Leblon'
 'Rua Barão de Icaraí' 'Rua Maria Eugênia' 'Rua Silveira Martins'
 'Rua Bulhões de Carvalho' 'Rua General Cristóvão Barcelos' nan
 'Rua Raul Pompéia' 'Rua Andrade Pertence' 'Rua Martins Ribeiro'
 'Rua Desembargador Burle' 'Rua Barão da Torre'
 'Rua Professor Alfredo Gomes' 'Rua Silva Castro' 'Praça Jacarandas'
 'Rua Cândido Mendes' 'Avenida Henrique Dumont' 'Rua Barão de Lucena'
 'Praia Botafogo,De' 'Avenida Rui Barbosa' 'Rua Carlos Gois'
 'Rua Sen Vergueiro' 'Rua Pompeu Loureiro' 'Avenida Oswaldo Cruz'
 'Rua Júlio de Castilhos' 'Rua Almirante Gomes Pereira' 'Rua Bambina'
 'Rua Engenheiro Pena Chaves' 'Praça Eugênio Jardim'
 'Rua Marquês de Olinda' 'Rua Martins Ferreira' 'Avenida Bartolomeu Mitre'
 'Rua Benjamim Batista' 'Rua Belisário Távora' 'Rua Cupertino Durão'
 'Praia de Botafogo' 'Rua Farani' 'Rua Assis Brasil'
 'Rua Aristides Espinola' 'Rua Dias da Rocha' 'Rua Xavier da Silveira'
 'Rua Bento Lisboa' 'Transversal Nobre' 'Endereço Não Informado'
 'Avenida Epitacio Pessoa' 'Av Vieira Souto' 'General Tasso Fragoso'
 'Rua Pereira da Silva' 'Rua Dona Mariana' 'Rua Jardim Botânico'
 'Praia do Flamengo' 'R Visconde de Silva'
 'Rua Vice-Governador Rúbens Berardo' 'Rua Professor Gastão Bahiana'
 'Rua Tubira' 'Rua General Goes Monteiro' 'Rua Bolivar' 'Rua Mena Barreto'
 'Rua Pres Alfonso Lopez' 'Rua Machado de Assis' 'Rua Duvivier'
 'Rua Jerônimo Monteiro' 'Rua Professor Arthur Ramos' 'Rua Cupertino Durao'
 'Rua Padre Achotegui' 'Rua Gorceix' 'Rua Raimundo Correia'
 'Rua Henrique Oswald' 'Rua Itaipava' 'Epitacio Pessoa'
 'Rua Gomes Carneiro' 'Praça Vereador Rocha Leão' 'Rua Domingos Ferreira'
 'Rua Marques de Sao Vicente' 'Rua Anita Garibaldi'
 'Rua Engenheiro Marques Porto' 'Avenida Alexandre Ferreira'
 'Rua Almirante Pereira Guimarães' 'Rua Cinco de Julho']


Número de bairros diferentes:  15

Número de enderecos (ruas) diferentes:  160

### Número de bairros diferentes:  15
### Número de enderecos (ruas) diferentes:  160

In [4]:
#Crio uma nova dataframe chamada bairros_stats onde coloco meu describe por bairro


bairros_stats = data.groupby('bairro')[['preco','area','suites','vagas','quartos', 'preco_m2']].describe()


bairros_stats  

#Ex de pesquisa na dataframe: 
#bairros_stats.loc['Botafogo']

                    preco                                                                                                  area                                                   suites                                        vagas                                      quartos                                     preco_m2
                    count         mean          std          min          25%          50%          75%           max     count   mean   std   min    25%    50%    75%    max     count mean  std  min  25%  50%  75%  max     count mean  std  min  25%  50%  75%  max     count mean  std  min  25%  50%  75%  max     count      mean      std       min       25%       50%       75%       max
bairro
Botafogo         5,052.00   921,543.94   527,657.50   490,000.00   490,000.00   690,000.00 1,380,000.00  6,800,000.00  5,052.00  77.17 27.98 45.00  45.00  80.00  93.00 328.00  5,052.00 0.43 0.57 0.00 0.00 0.00 1.00 5.00  5,052.00 0.75 0.54 0.00 0.00 1.00 1.00 4.00  5,052.00 1.89 0.70 1.00 1.00 2.00 2.00 5.00  5,052.00 11,604.11 2,548.21  6,956.52  8,625.00 10,888.89 14,743.59 20,731.71
Catete              94.00   910,755.32   239,511.72   430,000.00   649,000.00   998,000.00 1,080,000.00  1,150,000.00     94.00  75.18 16.61 42.00  56.00  85.00  87.00  87.00     94.00 0.69 0.46 0.00 0.00 1.00 1.00 1.00     94.00 0.89 0.31 0.00 1.00 1.00 1.00 1.00     94.00 2.59 0.68 1.00 2.00 3.00 3.00 3.00     94.00 11,988.48 1,062.99 10,238.10 11,471.26 11,589.29 12,413.79 13,855.42
Copacabana      12,202.00   785,931.90   359,378.32   360,000.00   680,000.00   710,000.00   915,000.00  4,490,000.00 12,202.00  68.52 37.71 30.00  48.00  54.00  84.00 350.00 12,202.00 0.28 0.46 0.00 0.00 0.00 1.00 2.00 12,202.00 0.18 0.41 0.00 0.00 0.00 0.00 2.00 12,202.00 1.49 0.81 1.00 1.00 1.00 2.00 4.00 12,202.00 12,184.72 2,738.04  5,685.71  9,473.68 12,000.00 12,962.96 28,000.00
Flamengo           443.00 1,687,110.51 1,007,555.10   528,000.00   950,000.00 1,600,000.00 2,000,000.00  4,500,000.00    443.00 159.01 95.46 45.00  87.00 136.00 200.00 430.00    443.00 0.89 0.77 0.00 0.00 1.00 1.00 3.00    443.00 0.92 0.71 0.00 0.00 1.00 1.00 3.00    443.00 2.92 0.84 1.00 2.00 3.00 3.00 5.00    443.00 11,000.82 2,793.00  5,642.63  9,080.46 11,111.11 12,222.22 21,000.00
Glória           1,450.00   589,434.48    41,813.09   400,000.00   590,000.00   590,000.00   590,000.00    900,000.00  1,450.00  69.88  6.83 41.00  70.00  70.00  70.00 120.00  1,450.00 0.01 0.10 0.00 0.00 0.00 0.00 1.00  1,450.00 0.98 0.15 0.00 1.00 1.00 1.00 1.00  1,450.00 1.99 0.19 1.00 2.00 2.00 2.00 3.00  1,450.00  8,457.90   280.23  7,500.00  8,428.57  8,428.57  8,428.57 10,476.19
Gávea            1,477.00 2,192,640.49    64,642.56 1,790,000.00 2,200,000.00 2,200,000.00 2,200,000.00  2,500,000.00  1,477.00 141.38  5.44 95.00 142.00 142.00 142.00 155.00  1,477.00 1.96 0.20 1.00 2.00 2.00 2.00 2.00  1,477.00 1.99 0.11 1.00 2.00 2.00 2.00 2.00  1,477.00 2.06 0.35 2.00 2.00 2.00 2.00 4.00  1,477.00 15,520.51   386.07 14,285.71 15,492.96 15,492.96 15,492.96 18,842.11
Humaitá            178.00 1,158,483.15   437,452.11   720,000.00   880,000.00 1,050,000.00 1,350,000.00  2,430,000.00    178.00  84.53 24.14 64.00  70.00  79.00  86.00 160.00    178.00 0.69 0.62 0.00 0.00 1.00 1.00 2.00    178.00 1.02 0.44 0.00 1.00 1.00 1.00 2.00    178.00 2.37 0.48 2.00 2.00 2.00 3.00 3.00    178.00 13,516.31 1,990.13 10,229.89 12,209.30 13,291.14 15,333.33 16,463.41
Ipanema            712.00 3,274,702.25 2,864,701.23   650,000.00 1,550,000.00 2,749,000.00 3,850,000.00 14,000,000.00    712.00 146.47 68.01 48.00 109.00 130.00 165.00 400.00    712.00 1.13 0.72 0.00 1.00 1.00 2.00 3.00    712.00 1.29 0.91 0.00 1.00 1.00 2.00 3.00    712.00 2.95 0.75 1.00 3.00 3.00 3.00 4.00    712.00 20,275.95 7,451.49 10,260.87 15,137.61 18,750.00 23,140.50 42,857.14
Jardim Botânico  1,572.00 3,370,880.41   659,288.77   695,000.00 3,500,000.00 3,500,000.00 3,500,000.00  6,500,000.00  1,572.00 155.96 21.97 62.00 160.00 160.00 160.00 251.00  1,572.00 1.03 0.36 0.00 1.00 1.00 1.00 4.00  1,572.00 0.19 0.65 0.00 0.00 0.00 0.00 4.00  1,572.00 2.99 0.24 2.00 3.00 3.00 3.00 4.00  1,572.00 21,374.12 2,012.39 11,209.68 21,875.00 21,875.00 21,875.00 25,896.41
Lagoa            1,613.00 6,925,269.68 1,619,129.52 1,350,000.00 7,500,000.00 7,500,000.00 7,500,000.00  7,500,000.00  1,613.00 211.13 29.01 75.00 220.00 220.00 220.00 227.00  1,613.00 2.80 0.62 0.00 3.00 3.00 3.00 4.00  1,613.00 2.84 0.53 0.00 3.00 3.00 3.00 3.00  1,613.00 3.00 0.28 2.00 3.00 3.00 3.00 4.00  1,613.00 32,196.85 5,478.83 12,406.02 34,090.91 34,090.91 34,090.91 37,500.00
Laranjeiras        131.00   960,419.85   326,277.39   475,000.00   890,000.00   950,000.00 1,000,000.00  1,900,000.00    131.00  97.30 26.09 65.00  80.00  86.00 111.00 152.00    131.00 0.73 0.81 0.00 0.00 1.00 1.00 3.00    131.00 0.87 0.70 0.00 0.00 1.00 1.00 2.00    131.00 2.43 0.72 1.00 2.00 3.00 3.00 3.00    131.00  9,898.77 2,096.19  7,307.69  7,407.41  9,693.88 11,569.77 13,253.01
Leblon           1,965.00 1,710,035.62 1,297,903.90   850,000.00 1,290,000.00 1,290,000.00 1,460,000.00 11,900,000.00  1,965.00  82.73 34.20 67.00  68.00  68.00  80.00 304.00  1,965.00 0.97 0.49 0.00 1.00 1.00 1.00 4.00  1,965.00 0.34 0.66 0.00 0.00 0.00 1.00 3.00  1,965.00 1.53 0.91 1.00 1.00 1.00 2.00 4.00  1,965.00 19,668.38 3,706.03 12,686.57 18,970.59 18,970.59 18,970.59 40,000.00
Leme             1,450.00   654,641.38   144,402.49   630,000.00   630,000.00   630,000.00   630,000.00  1,830,000.00  1,450.00  61.28  8.56 60.00  60.00  60.00  60.00 137.00  1,450.00 0.03 0.16 0.00 0.00 0.00 0.00 1.00  1,450.00 0.03 0.16 0.00 0.00 0.00 0.00 1.00  1,450.00 1.05 0.26 1.00 1.00 1.00 1.00 3.00  1,450.00 10,621.28   667.93 10,500.00 10,500.00 10,500.00 10,500.00 15,068.49
Santa Teresa     2,800.00   425,000.00    25,004.47   400,000.00   400,000.00   425,000.00   450,000.00    450,000.00  2,800.00  60.00  0.00 60.00  60.00  60.00  60.00  60.00  2,800.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00  2,800.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00  2,800.00 2.00 0.00 2.00 2.00 2.00 2.00 2.00  2,800.00  7,083.33   416.74  6,666.67  6,666.67  7,083.33  7,500.00  7,500.00
Urca                51.00 1,766,254.90   881,070.32 1,149,000.00 1,149,000.00 1,150,000.00 3,000,000.00  3,000,000.00     51.00 111.14 39.55 70.00  81.50  93.00 165.00 165.00     51.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00     51.00 0.92 0.87 0.00 0.00 1.00 2.00 2.00     51.00 2.33 0.48 2.00 2.00 2.00 3.00 3.00     51.00 15,335.57 2,607.03 12,354.84 12,354.84 16,428.57 18,181.82 18,181.82


### Quantidade de Apartamentos por bairro

In [12]:
data_gb_bairro = data.groupby(['bairro'])

qtd_bairro = data_gb_bairro.size()

qtd_bairro.iplot(xTitle='Bairro',\
                 yTitle='Número de apartamentos', kind= 'bar', color="#a30fe5")

/Users/Sombra/anaconda3/lib/python3.5/site-packages/cufflinks/plotlytools.py:156: FutureWarning:

pandas.tslib is deprecated and will be removed in a future version.
You can access Timestamp as pandas.Timestamp

### Mediana dos preços por Bairro

In [6]:
bairros = data.groupby("bairro")["preco"].median().keys()
data.groupby("bairro")["preco"].median()

bairro
Botafogo            690000
Catete              998000
Copacabana          710000
Flamengo           1600000
Glória              590000
Gávea              2200000
Humaitá            1050000
Ipanema            2749000
Jardim Botânico    3500000
Lagoa              7500000
Laranjeiras         950000
Leblon             1290000
Leme                630000
Santa Teresa        425000
Urca               1150000
Name: preco, dtype: int64

In [7]:
bairro_preco = [Bar(x=bairros,
            y=data.groupby("bairro")["preco"].median())]

py.iplot(bairro_preco, color = "#a30fe5")

#### A Lagoa é o bairro com mediana mais cara (7.5 Milhões de reais) e Santa Teresa a mais barata (425 mil reais). Mas isto envolve todos os tipos de apartamentos, com 1 ou mesmo 5 quartos.

## Faremos aqui a MEDIANA DOS PREÇOS POR BAIRRO **POR NÚMERO DE QUARTOS**

### Preço Mediano por Bairro e Qnt de Quartos

In [13]:
data_gb_bairro_quarto = data.groupby(['bairro', 'quartos'])

precos_bairro_quartos = data_gb_bairro_quarto[['preco']]
precos_bairro_quartos_median = precos_bairro_quartos.median()
precos_bairro_quartos_median

                           preco
bairro          quartos
Botafogo        1         490000
                2         690000
                3        1150000
                4        1850000
                5        6800000
Catete          1         430000
                2         649000
                3        1020000
Copacabana      1         680000
                2         915000
                3        1050000
                4        1870000
Flamengo        1         528000
                2         899000
                3        1650000
                4        2300000
                5        4000000
Glória          1         420000
                2         590000
                3         900000
Gávea           2        2200000
                4        2000000
Humaitá         2         920000
                3        1350000
Ipanema         1         795000
                2        1250000
                3        2550000
                4        4100000
Jardim Botânico 2         899000
                3        3500000
                4        6500000
Lagoa           2        1450000
                3        7500000
                4        4100000
Laranjeiras     1         475000
                2         900000
                3        1000000
Leblon          1        1290000
                2        1500000
                3        2200000
                4        5500000
Leme            1         630000
                2        1100000
                3        1830000
Santa Teresa    2         425000
Urca            2        1149000
                3        3000000

In [14]:
qtd_apts_por_bairro_e_quartos = data_gb_bairro_quarto.size()
qtd_apts_por_bairro_e_quartos

bairro           quartos
Botafogo         1          1433
                 2          2814
                 3           726
                 4            66
                 5            13
Catete           1            10
                 2            19
                 3            65
Copacabana       1          8481
                 2          1604
                 3          1929
                 4           188
Flamengo         1            13
                 2           120
                 3           213
                 4            82
                 5            15
Glória           1            34
                 2          1400
                 3            16
Gávea            2          1431
                 4            46
Humaitá          2           112
                 3            66
Ipanema          1            31
                 2           128
                 3           399
                 4           154
Jardim Botânico  2            56
                 3          1482
                 4            34
Lagoa            2            65
                 3          1484
                 4            64
Laranjeiras      1            18
                 2            39
                 3            74
Leblon           1          1420
                 2           131
                 3           341
                 4            73
Leme             1          1400
                 2            34
                 3            16
Santa Teresa     2          2800
Urca             2            34
                 3            17
dtype: int64

In [16]:
area_bairro_quarto_median = data_gb_bairro_quarto[['area']].median()
area_bairro_quarto_median

                          area
bairro          quartos
Botafogo        1        45.00
                2        80.00
                3        78.00
                4       176.00
                5       328.00
Catete          1        42.00
                2        56.00
                3        87.00
Copacabana      1        48.00
                2        84.00
                3       125.00
                4       220.00
Flamengo        1        45.00
                2        73.00
                3       140.00
                4       200.00
                5       360.00
Glória          1        41.50
                2        70.00
                3       120.00
Gávea           2       142.00
                4       140.00
Humaitá         2        75.00
                3        86.00
Ipanema         1        50.00
                2        75.00
                3       130.00
                4       200.00
Jardim Botânico 2        65.00
                3       160.00
                4       251.00
Lagoa           2        81.00
                3       220.00
                4       180.00
Laranjeiras     1        65.00
                2        80.00
                3       111.00
Leblon          1        68.00
                2        83.00
                3       105.00
                4       170.00
Leme            1        60.00
                2        73.00
                3       137.00
Santa Teresa    2        60.00
Urca            2        93.00
                3       165.00

In [3]:
data = pd.read_excel("zap_resultado_limpo.xlsx")
data1 = data.loc[data["quartos"]==1]
data1.head(5)

    index                                               link    preco      bairro                         endereco  quartos  area  suites  vagas                                          descricao  preco_m2
5       7  https://www.zapimoveis.com.br/oferta/venda+apa...   700000  Copacabana              Rua Siqueira Campos        1    54       0      0  Apartamento\r\n                Excelente Quart... 12,962.96
8      10  https://www.zapimoveis.com.br/oferta/venda+apa...  1290000      Leblon         Avenida Ataulfo de Paiva        1    68       1      0  Apartamento\r\n                Ataulfo de Paiv... 18,970.59
9      12  https://www.zapimoveis.com.br/oferta/venda+apa...   600000  Copacabana  Rua Ministro Viveiros de Castro        1    50       0      0  Apartamento\r\n                Excelente apart... 12,000.00
10     13  https://www.zapimoveis.com.br/oferta/venda+apa...   490000    Botafogo        Rua Voluntários da Pátria        1    45       0      0  Apartamento\r\n                Apto na Volunta... 10,888.89
12     15  https://www.zapimoveis.com.br/oferta/venda+apa...   680000  Copacabana                    R Santa Clara        1    48       0      0  Apartamento\r\n                Excelente prédi... 14,166.67

In [ ]:
'''
colors = ['#35a46c', '#5d87ac', '#ffac51', '#e5dc0f', 'a30f5']

data1 = data.loc[data["quartos"]==1]
data2 = data.loc[data["quartos"]==2]
#data3 = data.loc[data["quartos"]==3]
#data4 = data.loc[data["quartos"]==4]
#data5 = data.loc[data["quartos"]==5]

trace1 = Scattergl(
    x = data1["bairro"],
    y = data1["preco"],
    name = str(data1["area"])+"m2",
    mode = 'markers',
    marker = dict(
        size = 10,
        color = colors[0],
        
    )
)

trace2 = Scattergl(
    x = data2["bairro"],
    y = data2["preco"],
    name = str(data2["area"])+"m2",
    mode = 'markers',
    marker = dict(
        size = 10,
        color = colors[1],
        
    )
)

trace3 = go.Scatter(
    x = data3["bairro"],
    y = data3["preco"],
    name = str(data3["area"])+"m2",
    mode = 'markers',
    marker = dict(
        size = 10,
        color = colors[2],
        
    )
)

trace4 = go.Scatter(
    x = data4["bairro"],
    y = data4["preco"],
    name = str(data4["area"])+"m2",
    mode = 'markers',
    marker = dict(
        size = 10,
        color = colors[3],
        
    )
)


trace5 = go.Scatter(
    x = data5["bairro"],
    y = data5["preco"],
    name = str(data5["area"])+"m2",
    mode = 'markers',
    marker = dict(
        size = 10,
        color = colors[4],
        
    )
)

dataplot = [trace1, trace2]#, trace3, trace4, trace5]

layout = dict(title = 'Styled Scatter',
              yaxis = dict(zeroline = False),
              xaxis = dict(zeroline = False)
             )

fig = dict(data=dataplot, layout=layout)
#py.iplot(fig, filename='styled-scatter')
'''

/Users/Sombra/anaconda3/lib/python3.5/site-packages/plotly/tools.py:1341: UserWarning:

Looks like you used a newline character: '\n'.

Plotly uses a subset of HTML escape characters
to do things like newline (<br>), bold (<b></b>),
italics (<i></i>), etc. Your newline characters
have been converted to '<br>' so they will show
up right on your Plotly figure!

In [158]:
data_gb_bairro_quarto['quartos'].count()

bairro           quartos
Botafogo         1          1433
                 2          2814
                 3           726
                 4            66
                 5            13
Catete           1            10
                 2            19
                 3            65
Copacabana       1          8481
                 2          1604
                 3          1929
                 4           188
Flamengo         1            13
                 2           120
                 3           213
                 4            82
                 5            15
Glória           1            34
                 2          1400
                 3            16
Gávea            2          1431
                 4            46
Humaitá          2           112
                 3            66
Ipanema          1            31
                 2           128
                 3           399
                 4           154
Jardim Botânico  2            56
                 3          1482
                 4            34
Lagoa            2            65
                 3          1484
                 4            64
Laranjeiras      1            18
                 2            39
                 3            74
Leblon           1          1420
                 2           131
                 3           341
                 4            73
Leme             1          1400
                 2            34
                 3            16
Santa Teresa     2          2800
Urca             2            34
                 3            17
Name: quartos, dtype: int64

In [156]:
data_gb_bairro_quarto = data.groupby(['bairro','quartos'])

In [ ]:
data2["price"][data2["bairro"] == ]

In [143]:
data2 = data.copy()
#data2["qtd_apt_bairro_quartos"] = qtd_apt_bairro_quartos

In [140]:
bairro_quartos.size()

bairro           quartos
Botafogo         1          1433
                 2          2814
                 3           726
                 4            66
                 5            13
Catete           1            10
                 2            19
                 3            65
Copacabana       1          8481
                 2          1604
                 3          1929
                 4           188
Flamengo         1            13
                 2           120
                 3           213
                 4            82
                 5            15
Glória           1            34
                 2          1400
                 3            16
Gávea            2          1431
                 4            46
Humaitá          2           112
                 3            66
Ipanema          1            31
                 2           128
                 3           399
                 4           154
Jardim Botânico  2            56
                 3          1482
                 4            34
Lagoa            2            65
                 3          1484
                 4            64
Laranjeiras      1            18
                 2            39
                 3            74
Leblon           1          1420
                 2           131
                 3           341
                 4            73
Leme             1          1400
                 2            34
                 3            16
Santa Teresa     2          2800
Urca             2            34
                 3            17
dtype: int64

In [ ]:
bairro_quartos_preco_medio = data.groupby(['bairro','quartos'])[['preco','area','suites','vagas', 'preco_m2']]

In [134]:
bairro_quartos = data.groupby(['bairro','quartos'])[['preco','area','suites','vagas', 'preco_m2']]

bairros_stats = bairro_quartos.describe()

bairros_stats

#bairros_quartos = bairros_stats.groupby('quartos')

                          preco                                                                                        area                                                            suites                                                vagas                                                preco_m2
                          count          mean           std        min        25%        50%        75%         max   count        mean        std    min    25%    50%    75%    max   count      mean       std  min  25%  50%  75%  max   count      mean       std  min   25%  50%   75%  max    count          mean           std           min           25%           50%           75%           max
bairro          quartos
Botafogo        1        1433.0  4.941975e+05  2.746858e+04   490000.0   490000.0   490000.0   490000.0    685000.0  1433.0   45.385206   2.594494   45.0   45.0   45.0   45.0   65.0  1433.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0  1433.0  0.023029  0.150047  0.0  0.00  0.0  0.00  1.0   1433.0  10889.768214  7.825052e+01  10538.461538  10888.888889  10888.888889  10888.888889  11607.142857
                2        2814.0  1.002431e+06  3.368575e+05   650000.0   690000.0   690000.0  1380000.0   1380000.0  2814.0   88.244136  10.514785   54.0   80.0   80.0   93.0  105.0  2814.0  0.464108  0.498799  0.0  0.0  0.0  1.0  1.0  2814.0  0.977612  0.184340  0.0  1.00  1.0  1.00  2.0   2814.0  11125.214681  2.730782e+03   8111.111111   8625.000000   8625.000000  13142.857143  18400.000000
                3         726.0  1.193588e+06  2.259067e+05   800000.0  1150000.0  1150000.0  1150000.0   2700000.0   726.0   83.119835  12.593078   78.0   78.0   78.0   78.0  140.0   726.0  0.983471  0.392695  0.0  1.0  1.0  1.0  3.0   726.0  1.103306  0.304568  1.0  1.00  1.0  1.00  2.0    726.0  14397.569215  1.385108e+03   8888.888889  14743.589744  14743.589744  14743.589744  19285.714286
                4          66.0  2.601061e+06  1.107924e+06  1600000.0  1662500.0  1850000.0  3150000.0   4490000.0    66.0  180.136364  52.937666  110.0  110.0  176.0  230.0  233.0    66.0  1.424242  0.498015  1.0  1.0  1.0  2.0  2.0    66.0  1.939394  0.676616  1.0  1.25  2.0  2.00  3.0     66.0  15006.418459  4.855290e+03   6956.521739   9421.936759  16818.181818  17897.727273  19270.386266
                5          13.0  6.800000e+06  0.000000e+00  6800000.0  6800000.0  6800000.0  6800000.0   6800000.0    13.0  328.000000   0.000000  328.0  328.0  328.0  328.0  328.0    13.0  5.000000  0.000000  5.0  5.0  5.0  5.0  5.0    13.0  4.000000  0.000000  4.0  4.00  4.0  4.00  4.0     13.0  20731.707317  3.786528e-12  20731.707317  20731.707317  20731.707317  20731.707317  20731.707317
Catete          1          10.0  4.300000e+05  0.000000e+00   430000.0   430000.0   430000.0   430000.0    430000.0    10.0   42.000000   0.000000   42.0   42.0   42.0   42.0   42.0    10.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0    10.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0     10.0  10238.095238  1.917383e-12  10238.095238  10238.095238  10238.095238  10238.095238  10238.095238
                2          19.0  6.490000e+05  0.000000e+00   649000.0   649000.0   649000.0   649000.0    649000.0    19.0   56.000000   0.000000   56.0   56.0   56.0   56.0   56.0    19.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0    19.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0     19.0  11589.285714  3.737668e-12  11589.285714  11589.285714  11589.285714  11589.285714  11589.285714
                3          65.0  1.061231e+06  6.252269e+04   998000.0   998000.0  1020000.0  1150000.0   1150000.0    65.0   85.892308   1.803842   83.0   83.0   87.0   87.0   87.0    65.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0    65.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0     65.0  12374.463371  9.821427e+02  11471.264368  11471.264368  11724.137931  13855.421687  13855.421687
Copacabana      1        8481.0  6.383672e+05  1.376777e+05   360000.0   600000.0   680000.0   710000.0    790000.0  8481.0   48.601698   7.777026   30.0   41.0   48.0   54.0   61.0  8481.0  0.333805  0.471599  0.0  0.0  0.0  1.0  1.0  8481.0  0.168612  0.374431  0.0  0.00  0.0  0.00  1.0   8481.0  13132.095288  2.367153e+03   8823.529412  12000.000000  12950.819672  14166.666667  17500.000000
                2        1604.0  9.354115e+05  1.691871e+05   575000.0   915000.0   915000.0   915000.0   2100000.0  1604.0   83.250000   3.762668   58.0   84.0   84.0   84.0   90.0  1604.0  0.056733  0.291100  0.0  0.0  0.0  0.0  2.0  1604.0  0.041147  0.253834  0.0  0.00  0.0  0.00  2.0   1604.0  11254.339918  2.208796e+03   8846.153846  10892.857143  10892.857143  10892.857143  28000.000000
                3        1929.0  1.166582e+06  3.693411e+05   740000.0  1050000.0  1050000.0  1050000.0   3800000.0  1929.0  128.395542  20.558453   75.0  125.0  125.0  125.0  200.0  1929.0  0.152929  0.379647  0.0  0.0  0.0  0.0  2.0  1929.0  0.266459  0.491125  0.0  0.00  0.0  0.00  2.0   1929.0   9025.477075  1.656059e+03   7400.000000   8400.000000   8400.000000   8400.000000  21111.111111
                4         188.0  2.261771e+06  1.025513e+06  1200000.0  1450000.0  1870000.0  2800000.0   4490000.0   188.0  227.244681  58.295520  156.0  160.0  220.0  250.0  350.0   188.0  0.781915  0.716716  0.0  0.0  1.0  1.0  2.0   188.0  1.143617  0.580993  0.0  1.00  1.0  1.25  2.0    188.0   9800.938412  2.853246e+03   5685.714286   7500.000000   9615.384615  12396.000000  14483.870968
Flamengo        1          13.0  5.280000e+05  0.000000e+00   528000.0   528000.0   528000.0   528000.0    528000.0    13.0   45.000000   0.000000   45.0   45.0   45.0   45.0   45.0    13.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0    13.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0     13.0  11733.333333  1.893264e-12  11733.333333  11733.333333  11733.333333  11733.333333  11733.333333
                2         120.0  8.728167e+05  1.950746e+05   650000.0   680000.0   899000.0   950000.0   1350000.0   120.0   75.650000  10.383932   57.0   70.0   73.0   79.0   98.0   120.0  0.666667  0.473381  0.0  0.0  1.0  1.0  1.0   120.0  0.541667  0.500350  0.0  0.00  1.0  1.00  1.0    120.0  11512.589648  1.719688e+03   9080.459770   9558.823529  12025.316456  12842.857143  13775.510204
                3         213.0  1.710929e+06  7.778380e+05   850000.0  1199999.0  1650000.0  1790000.0   4500000.0   213.0  163.788732  73.489233   95.0  120.0  140.0  198.0  430.0   213.0  1.032864  0.803207  0.0  0.0  1.0  1.0  3.0   213.0  0.910798  0.472374  0.0  1.00  1.0  1.00  2.0    213.0  10537.590083  1.645713e+03   8333.333333   8750.000000  10927.152318  11999.990000  12785.714286
                4          82.0  2.577561e+06  9.525349e+05  1679999.0  1800000.0  2300000.0  2840000.0   4200000.0    82.0  249.878049  84.538893  170.0  175.0  200.0  319.0  400.0    82.0  0.975610  0.955499  0.0  0.0  1.0  1.0  3.0    82.0  1.609756  0.990773  0.0  1.00  2.0  2.00  3.0     82.0  11318.869155  5.476434e+03   5642.633229   7100.000000   9882.347059  12571.428571  21000.000000
                5          15.0  4.000000e+06  0.000000e+00  4000000.0  4000000.0  4000000.0  4000000.0   4000000.0    15.0  360.000000   0.000000  360.0  360.0  360.0  360.0  360.0    15.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0    15.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0     15.0  11111.111111  3.765666e-12  11111.111111  11111.111111  11111.111111  11111.111111  11111.111111
Glória          1          34.0  4.200000e+05  2.030077e+04   400000.0   400000.0   420000.0   440000.0    440000.0    34.0   41.500000   0.507519   41.0   41.0   41.5   42.0   42.0    34.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0    34.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0     34.0  10116.144019  3.654610e+02   9756.097561   9756.097561  10116.144019  10476.190476  10476.190476
                2        1400.0  5.900000e+05  0.000000e+00   590000.0   590000.0   590000.0   590000.0    590000.0  1400.0   70.000000   0.000000   70.0   70.0   70.0   70.0   70.0  1400.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0  1400.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0   1400.0   8428.571429  2.911423e-11   8428.571429   8428.571429   8428.571429   8428.571429   8428.571429
                3          16.0  9.000000e+05  0.000000e+00   900000.0   900000.0   900000.0   900000.0    900000.0    16.0  120.000000   0.000000  120.0  120.0  120.0  120.0  120.0    16.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0    16.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0     16.0   7500.000000  0.000000e+00   7500.000000   7500.000000   7500.000000   7500.000000   7500.000000
Gávea           2        1431.0  2.195129e+06  4.443705e+04  1790000.0  2200000.0  2200000.0  2200000.0   2200000.0  1431.0  141.441649   5.094003   95.0  142.0  142.0  142.0  142.0  1431.0  1.988120  0.108383  1.0  2.0  2.0  2.0  2.0  1431.0  1.988120  0.108383  1.0  2.00  2.0  2.00  2.0   1431.0  15532.744964  3.629908e+02  15492.957746  15492.957746  15492.957746  15492.957746  18842.105263
                4          46.0  2.115217e+06  2.607403e+05  1900000.0  1900000.0  2000000.0  2500000.0   2500000.0    46.0  139.391304  11.986063  126.0  126.0  140.0  155.0  155.0    46.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0    46.0  2.000000  0.000000  2.0  2.00  2.0  2.00  2.0     46.0  15140.029831  7.409326e+02  14285.714286  14285.714286  15079.365079  16129.032258  16129.032258
Humaitá         2         112.0  9.459821e+05  1.641712e+05   720000.0   790000.0   920000.0  1050000.0   1230000.0   112.0   74.080357   6.647005   64.0   68.0   75.0   79.0   87.0   112.0  0.642857  0.481311  0.0  0.0  1.0  1.0  1.0   112.0  1.026786  0.560884  0.0  1.00  1.0  1.00  2.0    112.0  12755.280921  1.754031e+03  10229.885057  11617.647059  12666.666667  13750.000000  15569.620253
                3          66.0  1.519091e+06  5.150018e+05  1050000.0  1050000.0  1350000.0  1380000.0   2430000.0    66.0  102.272727  31.669226   82.0   82.0   86.0   90.0  160.0    66.0  0.772727  0.799913  0.0  0.0  1.0  1.0  2.0    66.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0     66.0  14807.752260  1.685132e+03  12209.302326  12209.302326  15260.416667  16463.414634  16463.414634
Ipanema         1          31.0  7.295161e+05  7.335251e+04   650000.0   650000.0   795000.0   795000.0    795000.0    31.0   49.096774   1.011759   48.0   48.0   50.0   50.0   50.0    31.0  0.548387  0.505879  0.0  0.0  1.0  1.0  1.0    31.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0     31.0  14834.946237  1.193032e+03  13541.666667  13541.666667  15900.000000  15900.000000  15900.000000
                2         128.0  1.463633e+06  5.661735e+05   980000.0  1160000.0  1250000.0  1575000.0   2950000.0   128.0   81.046875  13.846663   70.0   72.0   75.0   84.0  113.0   128.0  0.585938  0.670261  0.0  0.0  0.0  1.0  2.0   128.0  0.421875  0.495799  0.0  0.00  0.0  1.00  1.0    128.0  17740.439244  4.408433e+03  14000.000000  14871.794872  15750.000000  20833.333333  26106.194690
                3         399.0  3.306837e+06  2.924807e+06  1180000.0  1650000.0  2550000.0  3200000.0  14000000.0   399.0  148.859649  59.148526  107.0  115.0  130.0  160.0  400.0   399.0  1.150376  0.615906  0.0  1.0  1.0  1.0  3.0   399.0  1.273183  0.595678  0.0  1.00  1.0  2.00  2.0    399.0  20235.392202  7.929234e+03  10260.869565  14875.000000  19393.939394  23140.495868  42857.142857
                4         154.0  5.209091e+06  2.791159e+06  2900000.0  3850000.0  4100000.0  5500000.0  14000000.0   154.0  214.259740  45.743074  156.0  185.0  200.0  240.0  340.0   154.0  1.668831  0.616284  1.0  1.0  2.0  2.0  3.0   154.0  2.337662  0.802128  1.0  2.00  3.0  3.00  3.0    154.0  23583.742075  7.461254e+03  16571.428571  17500.000000  20967.741935  24679.487179  41176.470588
Jardim Botânico 2          56.0  1.221143e+06  7.359403e+05   695000.0   695000.0   899000.0   999000.0   2600000.0    56.0   91.696429  46.932803   62.0   62.0   65.0   78.0  180.0    56.0  0.678571  0.471251  0.0  0.0  1.0  1.0  1.0    56.0  0.892857  0.730593  0.0  0.00  1.0  1.00  2.0     56.0  12882.277266  1.289176e+03  11209.677419  11209.677419  12807.692308  13830.769231  14444.444444
                3        1482.0  3.412713e+06  3.725590e+05  1490000.0  3500000.0  3500000.0  3500000.0   3500000.0  1482.0  157.024291  12.449415   98.0  160.0  160.0  160.0  160.0  1482.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0  1482.0  0.080972  0.354658  0.0  0.00  0.0  0.00  2.0   1482.0  21656.878919  1.061134e+03  14900.000000  21875.000000  21875.000000  21875.000000  21875.000000
                4          34.0  5.088235e+06  1.612783e+06  3300000.0  3300000.0  6500000.0  6500000.0   6500000.0    34.0  215.264706  40.823574  170.0  170.0  251.0  251.0  251.0    34.0  3.117647  1.007989  2.0  2.0  4.0  4.0  4.0    34.0  3.558824  0.503995  3.0  3.00  4.0  4.00  4.0     34.0  23035.539503  3.268229e+03  19411.764706  19411.764706  25896.414343  25896.414343  25896.414343
Lagoa           2          65.0  2.534000e+06  1.541245e+06  1350000.0  1360000.0  1450000.0  4600000.0   4600000.0    65.0  122.784615  61.355392   75.0   75.0   81.0  205.0  205.0    65.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0    65.0  1.707692  0.963767  1.0  1.00  1.0  3.00  3.0     65.0  19623.675677  2.331657e+03  16790.123457  16875.000000  19333.333333  22439.024390  22439.024390
                3        1484.0  7.219373e+06  1.172222e+06  1650000.0  7500000.0  7500000.0  7500000.0   7500000.0  1484.0  216.254717  18.395698  105.0  220.0  220.0  220.0  227.0  1484.0  2.896900  0.462502  0.0  3.0  3.0  3.0  3.0  1484.0  2.912399  0.427172  0.0  3.00  3.0  3.00  3.0   1484.0  33082.985313  4.232637e+03  12406.015038  34090.909091  34090.909091  34090.909091  34090.909091
                4          64.0  4.565625e+06  2.175055e+06  2250000.0  2737500.0  4100000.0  7500000.0   7500000.0    64.0  182.031250  14.334960  159.0  175.0  180.0  200.0  200.0    64.0  2.375000  1.046536  1.0  1.0  2.0  3.0  4.0    64.0  2.328125  0.473242  2.0  2.00  2.0  3.00  3.0     64.0  24419.163204  9.888188e+03  12857.142857  16893.530997  22777.777778  37500.000000  37500.000000
Laranjeiras     1          18.0  4.750000e+05  0.000000e+00   475000.0   475000.0   475000.0   475000.0    475000.0    18.0   65.000000   0.000000   65.0   65.0   65.0   65.0   65.0    18.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0    18.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0     18.0   7307.692308  0.000000e+00   7307.692308   7307.692308   7307.692308   7307.692308   7307.692308
                2          39.0  9.065385e+05  8.672517e+04   770000.0   900000.0   900000.0   995000.0    995000.0    39.0   81.615385   3.696480   77.0   80.0   80.0   86.0   86.0    39.0  0.769231  0.426833  0.0  1.0  1.0  1.0  1.0    39.0  0.769231  0.426833  0.0  1.00  1.0  1.00  1.0     39.0  11084.525939  6.183251e+02  10000.000000  11250.000000  11250.000000  11569.767442  11569.767442
                3          74.0  1.106892e+06  3.229018e+05   890000.0   950000.0  1000000.0  1100000.0   1900000.0    74.0  113.418919  23.512169   83.0   98.0  111.0  135.0  152.0    74.0  0.891892  0.958989  0.0  0.0  1.0  1.0  3.0    74.0  1.135135  0.708545  0.0  1.00  1.0  2.00  2.0     74.0   9904.108383  2.284585e+03   7407.407407   8018.018018   9693.877551  12500.000000  13253.012048
Leblon          1        1420.0  1.292958e+06  2.475500e+04  1290000.0  1290000.0  1290000.0  1290000.0   1500000.0  1420.0   68.450704   3.772191   68.0   68.0   68.0   68.0  100.0  1420.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0  1420.0  0.014085  0.117881  0.0  0.00  0.0  0.00  1.0   1420.0  18914.664457  4.680567e+02  15000.000000  18970.588235  18970.588235  18970.588235  18970.588235
                2         131.0  1.776412e+06  1.012369e+06   850000.0  1090000.0  1500000.0  2200000.0   4400000.0   131.0   93.229008  38.050688   67.0   72.0   83.0   94.0  206.0   131.0  0.427481  0.656688  0.0  0.0  0.0  1.0  2.0   131.0  0.702290  0.628731  0.0  0.00  1.0  1.00  2.0    131.0  18871.453928  7.577393e+03  12686.567164  14533.333333  15957.446809  20563.380282  40000.000000
                3         341.0  2.495044e+06  1.142054e+06  1400000.0  1780000.0  2200000.0  2950000.0   7200000.0   341.0  114.011730  27.129317   80.0   95.0  105.0  125.0  211.0   341.0  0.932551  0.803391  0.0  0.0  1.0  1.0  3.0   341.0  1.217009  0.490922  1.0  1.00  1.0  1.00  3.0    341.0  21224.451463  4.140721e+03  15840.000000  17322.834646  19777.777778  22692.307692  34123.222749
                4          73.0  6.036986e+06  3.548141e+06  2400000.0  2600000.0  5500000.0  7500000.0  11900000.0    73.0  195.479452  61.492798  140.0  146.0  170.0  215.0  304.0    73.0  1.479452  1.334474  0.0  1.0  1.0  1.0  4.0    73.0  2.013699  0.889650  1.0  1.00  2.0  3.00  3.0     73.0  28491.011299  9.107815e+03  17142.857143  17808.219178  32352.941176  34883.720930  39144.736842
Leme            1        1400.0  6.300000e+05  0.000000e+00   630000.0   630000.0   630000.0   630000.0    630000.0  1400.0   60.000000   0.000000   60.0   60.0   60.0   60.0   60.0  1400.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0  1400.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0   1400.0  10500.000000  0.000000e+00  10500.000000  10500.000000  10500.000000  10500.000000  10500.000000
                2          34.0  1.116176e+06  2.374290e+04  1100000.0  1100000.0  1100000.0  1150000.0   1150000.0    34.0   78.500000   8.072587   73.0   73.0   73.0   90.0   90.0    34.0  0.676471  0.474858  0.0  0.0  1.0  1.0  1.0    34.0  0.676471  0.474858  0.0  0.00  1.0  1.00  1.0     34.0  14327.379354  1.087765e+03  12777.777778  12777.777778  15068.493151  15068.493151  15068.493151
                3          16.0  1.830000e+06  0.000000e+00  1830000.0  1830000.0  1830000.0  1830000.0   1830000.0    16.0  137.000000   0.000000  137.0  137.0  137.0  137.0  137.0    16.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0    16.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0     16.0  13357.664234  3.757288e-12  13357.664234  13357.664234  13357.664234  13357.664234  13357.664234
Santa Teresa    2        2800.0  4.250000e+05  2.500447e+04   400000.0   400000.0   425000.0   450000.0    450000.0  2800.0   60.000000   0.000000   60.0   60.0   60.0   60.0   60.0  2800.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0  2800.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0   2800.0   7083.333333  4.167411e+02   6666.666667   6666.666667   7083.333333   7500.000000   7500.000000
Urca            2          34.0  1.149382e+06  4.932702e+02  1149000.0  1149000.0  1149000.0  1150000.0   1150000.0    34.0   84.205882  11.345215   70.0   70.0   93.0   93.0   93.0    34.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0    34.0  0.382353  0.493270  0.0  0.00  0.0  1.00  1.0     34.0  13912.442396  2.009451e+03  12354.838710  12354.838710  12354.838710  16428.571429  16428.571429
                3          17.0  3.000000e+06  0.000000e+00  3000000.0  3000000.0  3000000.0  3000000.0   3000000.0    17.0  165.000000   0.000000  165.0  165.0  165.0  165.0  165.0    17.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0    17.0  2.000000  0.000000  2.0  2.00  2.0  2.00  2.0     17.0  18181.818182  3.749943e-12  18181.818182  18181.818182  18181.818182  18181.818182  18181.818182

### Para cada Bairro, achemos o Preço e o Número de Apts com aquele preço

In [101]:
data.groupby('bairro').preco.value_counts()

bairro           preco
Botafogo         690000      1409
                 490000      1400
                 1380000     1206
                 1150000      617
                 650000        31
                 800000        28
                 970000        27
                 1000000       26
                 685000        21
                 1850000       21
                 750000        20
                 1450000       18
                 1300000       17
                 1600000       17
                 1250000       16
                 1400000       16
                 1655000       15
                 3150000       15
                 1080000       14
                 1190000       14
                 1360000       14
                 660000        13
                 4490000       13
                 6800000       13
                 2700000       12
                 730000        11
                 900000        11
                 760000        10
                 950000         7
Catete           998000        20
                 649000        19
                 1150000       18
                 1020000       14
                 1080000       13
                 430000        10
Copacabana       680000      1417
                 700000      1412
                 1050000     1408
                 360000      1400
                 600000      1400
                 710000      1400
                 790000      1400
                 915000      1400
                 1200000       55
                 1350000       49
                 1750000       46
                 1500000       45
                 2100000       39
                 1450000       30
                 4490000       23
                 900000        22
                 2150000       22
                 2200000       22
                 450000        21
                 890000        21
                 980000        20
                 1075000       20
                 1250002       19
                 1595000       19
                 690000        18
                 1400000       18
                 2600000       18
                 1100000       17
                 3099000       17
                 3800000       17
                 377000        16
                 1170000       16
                 1680000       16
                 525000        15
                 635000        15
                 930000        15
                 1000000       15
                 1070000       15
                 1490000       15
                 1580000       15
                 365000        14
                 840000        14
                 959000        14
                 1690000       14
                 1990000       14
                 2800000       14
                 850000        13
                 865000        13
                 1600000       13
                 2500000       13
                 1120000       12
                 990000        11
                 1020000       11
                 575000        10
                 795000        10
                 870000        10
                 1300000       10
                 740000         9
                 2300000        8
                 1980000        7
Flamengo         1650000       46
                 950000        24
                 1199999       22
                 1050000       21
                 2000000       21
                 1679999       20
                 650000        19
                 1280000       19
                 970000        18
                 1790000       18
                 4200000       18
                 790000        15
                 1600000       15
                 2600000       15
                 4000000       15
                 2840000       14
                 528000        13
                 850000        13
                 680000        12
                 899000        12
                 1499000       12
                 1800000       12
                 2300000       12
                 1350000       11
                 4500000       11
                 720000         9
                 2200000        6
Glória           590000      1400
                 400000        17
                 440000        17
                 900000        16
Gávea            2200000     1414
                 1790000       17
                 1900000       17
                 2000000       15
                 2500000       14
Humaitá          1050000       37
                 1350000       21
                 1230000       19
                 950000        18
                 790000        16
                 880000        16
                 720000        15
                 2430000       15
                 1380000       12
                 890000         9
Ipanema          3200000       65
                 1550000       35
                 3900000       29
                 14000000      25
                 1490000       24
                 5500000       24
                 1650000       21
                 999000        20
                 2380000       20
                 2800000       20
                 4100000       19
                 12000000      19
                 1250000       18
                 2490000       18
                 795000        17
                 1160000       17
                 1180000       17
                 2900000       17
                 3000000       17
                 3450000       16
                 2000000       15
                 2200000       15
                 3500000       15
                 3950000       15
                 6900000       15
                 650000        14
                 1390000       14
                 4500000       14
                 1280000       13
                 1575000       13
                 2550000       13
                 2950000       13
                 1500000       12
                 3850000       12
                 980000        11
                 1900000       11
                 2749000       11
                 2999000       11
                 2500000       10
                 5100000        7
Jardim Botânico  3500000     1400
                 1490000       29
                 2190000       22
                 6500000       19
                 695000        18
                 2500000       16
                 1750000       15
                 3300000       15
                 899000        13
                 999000        13
                 2600000       12
Lagoa            7500000     1421
                 1700000       31
                 4600000       23
                 1450000       21
                 1650000       17
                 4100000       17
                 2250000       16
                 4000000       15
                 3800000       14
                 1360000       11
                 1350000       10
                 2900000       10
                 2800000        7
Laranjeiras      950000        19
                 475000        18
                 1000000       17
                 900000        15
                 995000        15
                 890000        14
                 1100000       14
                 1900000       10
                 770000         9
Leblon           1290000     1400
                 1500000       59
                 3500000       39
                 2250000       36
                 1680000       30
                 1980000       30
                 2200000       29
                 3000000       23
                 1780000       22
                 1090000       19
                 2400000       18
                 2450000       18
                 850000        16
                 2000000       16
                 5500000       16
                 11900000      15
                 1050000       14
                 1460000       14
                 1590000       14
                 2950000       14
                 7500000       14
                 1700000       12
                 2350000       12
                 2900000       12
                 4400000       12
                 7200000       12
                 1400000       11
                 2150000       10
                 2600000       10
                 1850000        9
                 4500000        9
Leme             630000      1400
                 1100000       23
                 1830000       16
                 1150000       11
Santa Teresa     400000      1400
                 450000      1400
Urca             1149000       21
                 3000000       17
                 1150000       13
Name: preco, dtype: int64

### Análise de Preço/Número de ofertas para cada tipo de anúncio --POR No DE SUÍTES--

In [ ]:
suites_stats = data.groupby('suites')[['preco','area','vagas','quartos', 'preco_m2']].describe()


suites_stats

In [ ]:
print_full(data.groupby('suites').preco.value_counts())

### Análise de Preço/Número de ofertas para cada tipo de anúncio --POR No DE VAGAS--

In [130]:
vagas_stats = data.groupby('vagas')[['preco','area','suites','quartos', 'preco_m2']].describe()
vagas_stats

         preco                                                                                         area                                                             suites                                               quartos                                              preco_m2
         count          mean           std        min        25%        50%        75%         max    count        mean        std    min    25%    50%    75%    max    count      mean       std  min  25%  50%  75%  max    count      mean       std  min  25%  50%  75%  max    count          mean          std           min           25%           50%           75%           max
vagas
0      19035.0  9.077925e+05  7.792121e+05   360000.0   490000.0   680000.0   915000.0   3500000.0  19035.0   69.320830  34.562536   30.0   48.0   60.0   70.0  319.0  19035.0  0.234568  0.430871  0.0  0.0  0.0  0.0  3.0  19035.0  1.561860  0.752702  1.0  1.0  1.0  2.0  4.0  19035.0  12404.748782  4378.285226   5642.633229   9473.684211  10892.857143  14166.666667  28000.000000
1       8321.0  1.099995e+06  6.222604e+05   525000.0   690000.0   790000.0  1380000.0   4500000.0   8321.0   89.892200  38.678620   30.0   70.0   80.0   94.0  430.0   8321.0  0.608461  0.560773  0.0  0.0  1.0  1.0  3.0   8321.0  2.124024  0.727880  1.0  2.0  2.0  3.0  5.0   8321.0  12072.254989  3684.752322   5685.714286   8625.000000  12950.819672  14743.589744  40000.000000
2       2172.0  2.478251e+06  1.456233e+06   865000.0  2200000.0  2200000.0  2200000.0  14000000.0   2172.0  147.445672  39.040428   75.0  142.0  142.0  142.0  400.0   2172.0  1.709945  0.581167  0.0  1.0  2.0  2.0  4.0   2172.0  2.428177  0.690728  2.0  2.0  2.0  3.0  4.0   2172.0  16501.526626  4824.465447   7100.000000  15492.957746  15492.957746  15492.957746  42857.142857
3       1630.0  7.280288e+06  1.203529e+06  3300000.0  7500000.0  7500000.0  7500000.0  14000000.0   1630.0  220.684049  15.348825  170.0  220.0  220.0  220.0  340.0   1630.0  2.844785  0.505179  1.0  3.0  3.0  3.0  4.0   1630.0  3.096319  0.339608  2.0  3.0  3.0  3.0  4.0   1630.0  32912.209755  4265.078902  17083.333333  34090.909091  34090.909091  34090.909091  41176.470588
4         32.0  6.621875e+06  1.496973e+05  6500000.0  6500000.0  6500000.0  6800000.0   6800000.0     32.0  282.281250  38.422301  251.0  251.0  251.0  328.0  328.0     32.0  4.406250  0.498991  4.0  4.0  4.0  5.0  5.0     32.0  4.406250  0.498991  4.0  4.0  4.0  5.0  5.0     32.0  23798.252113  2577.141896  20731.707317  20731.707317  25896.414343  25896.414343  25896.414343